.forgetPassword-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.forgetPassword-div div{
    margin-top: 5px;
    margin-bottom: 5px;
}

.forgetPassword-div button {
    background-color: hsl(252, 75%, 60%);
    border-radius: 45px;
    font-size: 20px;
}